<footer>
	<h4>
		Follow me on <a href="https://davidfitz.dev/feed.xml">RSS</a>,
		<a href="https://www.youtube.com/@PixelInkClub">YouTube</a>,
		<a href="https://bsky.app/profile/davidfitz.dev">Bluesky</a>,
		<a href="https://vis.social/@lofi">Mastodon</a> or
		<a href="https://github.com/davidfitzgibbon" rel="me">GitHub</a>
	</h4>
	<p>
		<a href="http://davidfitz.dev/" class="h-card" rel="me">David Fitzgibbon</a> {%
		currentYear %} &copy;
	</p>
</footer>

<style>
	footer h4 {
		margin-bottom: 1rem;
	}
	footer {
		margin-top: 2rem;
		border-top: 3px solid var(--c-purple);
		padding: 1rem;
		text-align: center;
	}
	footer p {
		max-width: revert;
	}
	a.h-card {
		color: var(--color-dark);
		text-decoration: none;
	}
</style>
