<div class="subscribe">
  <svg viewBox="0 0 100 100">
    <path fill="#fff" d="M70 6h9v9h-9z"/>
    <path fill="#fff" d="M84 28h9v9h-9z"/>
    <path fill="#fff" d="M60 64h9v9h-9z"/>
    <path fill="#fff" d="M80 70h9v9h-9z"/>
    <circle cx="87.2" cy="13.7" r="4.7" fill="#fff" transform="translate(-30 14)"/>
    <circle cx="87.2" cy="13.7" r="4.7" fill="#fff" transform="translate(-42 36)"/>
    <circle cx="87.2" cy="13.7" r="4.7" fill="#fff" transform="translate(-55 63)"/>
    <path fill="#fff" d="m78 41 5 9H73l5-9Z"/>
    <path fill="#fff" d="m45 6 5 10h-9l4-10Z"/>
    <path fill="#fff" d="m50 81 5 9H45l5-9Z"/>
  </svg>
  <p>
    If you enjoyed this article, sign up here to get new articles whisked straight to your inbox!
  </p>
  <script async data-uid="bcd4c3d4a4" src="https://witty-hustler-6103.ck.page/bcd4c3d4a4/index.js"></script>
</div>